/* contenedor flex menu nivel 1 */
.flexContenedor-ul-MenuNivel1{
  display: flex;
  /* height: 2rem; */
  /* justify-content: space-evenly; */ /* alinea los item en el eje principal distribuyendo equitativamente el espacio disponible */
  /* align-items: center; */ /* alinear los items al centro del size-cross */
  background-color: hsla(200, 50%, 20%, 0.9);
}

/* menu nivel 1 */
.nav-MenuNivel1{
  /* background-color: hsla(200, 50%, 20%, 0.9); */
}

/* selector para los menus ul "contiene en el nombre de la clase" */
[class*="ul-Menu"]{
  padding-left: 0; /* para resetear el padding que tienen por defecto los ul */
}

/* selector para los menus li "contiene en el nombre de la clase" */
[class*="li-Menu"]{
  flex-grow: 1; /* para que crezcan los items */
  list-style-type: none; /* para quitar las viñetas */
  /* display: inline-block; */ /* por defecto los li son de bloque */
  position: relative; /* para hacer position: relative a todos los item li-Menu... */
}

[class*="li-Menu"]:hover{
  background-color: hsla(200, 50%, 30%, 0.9);
}

[class*="li-Menu"]:hover [class*="ul-MenuNivel2"]{
  display: block;
}

/* selector para las opciones a de los menus "contiene en el nombre de la clase" */
[class*="a-opcion"]{
  color: hsla(200, 50%, 100%, 1);
  text-decoration: none; /* para quitar el subrayado */
  display: block; /* para darle padding */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
}

.li-MenuNivel1Preparacion{
  /* position: relative; */
}

/* .ul-MenuNivel2Preparacion */
[class*="ul-MenuNivel2"]{
  /* display: block; */
  position: absolute; /* este codigo ocasiona que que este elemento salga del flujo  dejando de pertenecer al padre */
  background-color: hsla(200, 50%, 20%, 0.8);
  top: 100%;
  display: none;
}


[class*="li-MenuNivel2"]{
  display: block;
}